html,
body {
  height: 100%;
  background-color: #000 !important;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 35px;
  padding: 10px;
  font-size: 16px;
  background-color: rgb(22, 22, 22);
  border-color: rgb(56, 56, 56);
  color: rgb(163, 163, 163);
}

.form-signin .form-control:focus {
    position: relative;
    box-sizing: border-box;
    height: 35px;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(22, 22, 22);
    border-color: rgb(56, 56, 56);
  }

.fpass {
    font-size: 28px !important;
    color: #fff !important;
    font-family: 'Poppins' !important;

}

.title {
    font-size: 13px;
    color: rgb(182, 182, 182);
    font-family: 'Poppins';
    font-weight: 300;
}

.title-radio {
    font-size: 15px;
    color: rgb(182, 182, 182);
    font-family: 'Poppins';
    font-weight: 300;
}

.distance-radio {
  margin-top: -10px !important;
  margin-bottom: 20px;
}